<section>
    <div class="container h-100">
        <div class="row h-100" style="font-family: Cinzel, serif;">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center col-md-12 col-xl-10">
                <div>
                    <h1 class="text-uppercase fw-normal mb-3 mt-5" style="margin: 0;--fontSize: 34;/*line-height: 1.4;*//*font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;*/font-size: 34px;font-family: Cinzel, serif;color: #9e7f55;"><span style="color: var(--h1_typography-color);">We want the best for you</span><br></h1>
                    <p class="mb-4 mt-4" style="text-align: left;"><span style="color: rgb(0, 0, 0);">Fondée en 2001. La maison B.Ammar est un centre de beauté qui s’est spécialisé dans la transformation de vies en utilisant les dernières tendances et la mode.</span><br><span style="color: rgb(0, 0, 0);">Avec un grand portefeuille de jeunes experts dans le domaine du maquillage, des soins de la peau et des cheveux, La maison&nbsp; B.Ammar a pour objectif d’aider ses clientes à être belles et à se sentir plus en confiance.</span><br><span style="color: rgb(0, 0, 0);">La maison&nbsp; B.Ammar a accueilli de nombreuses futures mariées qui croient en la puissance de notre vision, de notre expérience et de notre expertise.</span><br><br></p>
                </div>
            </div>
        </div>
    </div>
</section>