<div class="pt-4">
    <h1 class="text-center pb-5" style="font-family: Cinzel, serif;color: #9e7f55;">GEL</h1><!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/vrJ_LxeOEwE" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/3yNcgGuAEMM" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
        </div>
    </div><!-- End: 1 Row 2 Columns -->
</div>
<div class="pt-4">
    <h1 class="text-center pb-5" style="font-family: Cinzel, serif;color: #9e7f55;">vernis permanent<br></h1><!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-3" style="height: 30vh;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/JXk93oZdESk" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-6 pb-3"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/aH5_JYy2XEA" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-6 pb-3"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/HTL6IL8q8JA" width="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-6 pb-3"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/meXNyA6ZPvQ" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
        </div>
    </div><!-- End: 1 Row 2 Columns -->
</div>