<section>
    <div class="container h-100">
        <div class="row h-100" style="font-family: Cinzel, serif;">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center col-md-12 col-xl-10">
                <div>
                    <h1 class="text-uppercase fw-normal mb-3 mt-5" style="margin: 0;--fontSize: 34;/*line-height: 1.4;*//*font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;*/font-size: 34px;font-family: Cinzel, serif;color: #9e7f55;">Norte Mission<br></h1>
                    <p class="mb-4 mt-4" style="text-align: left;"><span style="color: rgb(0, 0, 0);">Nous sommes experts dans la mise en beauté, révéler votre beauté intérieure est ce qui nous distingue vraiment. Notre mission est de fournir un service de qualité supérieure. La satisfaction du client a toujours été notre première priorité.</span><br></p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-uppercase fw-normal text-center mb-4 mt-5" style="margin: 0;--fontSize: 34;/*line-height: 1.4;*//*font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;*/font-size: 34px;font-family: Cinzel, serif;color: #9e7f55;">Ambiance<br></h1><img class="mb-4" src="/assets/img/banniere-lamaison-ben-ammar.jpg?h=bed4e66aba7571e4b099112ab0c3e4a5" width="100%">
</section>