<app-navbar [src]="src" [path]="path"></app-navbar>
<div class="text-center container-sm" style="text-align: center;">
    <h1 class="pt-5 pb-5" style="font-family: Cinzel, serif;text-align: center;color: #9e7f55;">Onglerie<br></h1>
    <h6 class="pb-5" style="font-family: Cinzel, serif;text-align: center;color: #9e7f55;"><br><span style="color: var(--h3_typography-color);">la maison lobna b.ammar</span><br></h6>
    <p class="text-start pb-5" style="font-family: Cinzel, serif;text-align: center;">Belle jusqu’aux bouts des doigts! Notre bar à&nbsp;ongles vous accueillie dans un cadre chaleureux pour réaliser vos manucures.Passez un agréable moment entièrement dédié à&nbsp;la beauté de vos mains.<br></p>
</div>
<!-- TODO:before after -->

<div class="pt-5 pb-4 d-flex justify-content-center" style="background: #d6b8ad;">
    <div class="container">
        <div class="row pb-4" *ngFor="let container of data">
            <div class="col-md-4" *ngFor="let image of container">
                <div class="card">
                    <div class="card-body" style="border-width: 0px;background: #dab6af;">
                        <app-ab [img1]="image.img1" [img2]="image.img2"></app-ab>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-onglerie-videos></app-onglerie-videos>
<app-footer2></app-footer2>