<app-navbar [src]="src" [path]="path"></app-navbar>

<div class="pt-4">
    <h1 class="pt-5 pb-5" style="font-family: Cinzel, serif;text-align: center;color: #9e7f55;">Tuto maquillage<br /></h1>
    <div class="container pb-5">
        <div class="row pb-4">
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/CJp6evKsNnk" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/H0tDsgC-k90" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/8gFSzXMIOPY" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
        </div>
        <div class="row pb-4">
            <div class="col-md-4"><video width="100%" height="100%" controls style="height: 30vh;min-height: 250px;">
                    <source src="../../assets/videos/tuto-maquillage-lobna-1.mp4" type="video/mp4" />
                </video></div>
            <div class="col-md-4"><video width="100%" height="100%" controls style="height: 30vh;min-height: 250px;">
                    <source src="../../assets/videos/tuto-maquillage-lobna-2.mp4" type="video/mp4" />
                </video></div>
            <div class="col-md-4"><video width="100%" height="100%" controls style="height: 30vh;min-height: 250px;">
                    <source src="../../assets/videos/tuto-maquillage-lobna-3.mp4" type="video/mp4" />
                </video></div>
        </div>
        <div class="row pb-4">
            <div class="col-md-4"><video width="100%" height="100%" controls style="height: 30vh;min-height: 250px;">
                    <source src="../../assets/videos/tuto-maquillage-lobna4.mp4" type="video/mp4" />
                </video></div>
            <div class="col-md-4"><video width="100%" height="100%" controls style="height: 30vh;min-height: 250px;">
                    <source src="../../assets/videos/tuto-maquillage-lobna-5.mp4" type="video/mp4" />
                </video></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="pt-4">
    <h1 class="pt-5 pb-5" style="font-family: Cinzel, serif;text-align: center;color: #9e7f55;">ET plus de Tuto maquillage…<br /></h1>
    <div class="container pb-5">
        <div class="row pb-4">
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/hBM6OeLNjIA" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/BXmMklAOJnw" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/V63ze-F6DuA" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
        </div>
        <div class="row pb-4">
            <div class="col-md-4 text-center">
                <h1 class="pt-2 pb-2" style="color: #9e7f54;text-align: center;font-family: Cinzel, serif;">Tuto lobna<br /></h1>
            </div>
            <div class="col-md-4 text-center">
                <h1 class="pt-2 pb-2" style="color: #9e7f54;text-align: center;font-family: Cinzel, serif;">Tuto Caméléon<br /></h1>
            </div>
            <div class="col-md-4 text-center">
                <h1 class="pt-2 pb-2" style="color: #9e7f54;text-align: center;font-family: Cinzel, serif;">Tuto by rym<br /></h1>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/ddricihPpLE" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/0bEJo76z5KQ" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/f9YY3Yfh6TI" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
        </div>
        <div class="row pb-4">
            <div class="col-md-4 text-center">
                <h1 class="pt-2 pb-2" style="color: #9e7f54;text-align: center;font-family: Cinzel, serif;">Tuto by mirou<br /></h1>
            </div>
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center"></div>
        </div>
        <div class="row pb-4">
            <div class="col-md-4"><iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/x8sq730yLGA" width="100%" height="100%" style="height: 30vh;min-height: 250px;"></iframe></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<app-footer2></app-footer2>
