<section style="background: #d6b8ad;padding: 0px;padding-top: 0px;padding-bottom: 0px;margin: 0;/*height: fill-content;*/">
    <div class="container">
        <div class="text-center container-fluid" style="padding: 0px;padding-top: 0;padding-bottom: 0;">
            <p class="lead fw-lighter text-center text-light mb-4 pt-5" style="--fontSize: 34;line-height: 1.4;font-size: 34px;font-family: Cinzel;">La Maison B. Ammar</p>
            <p class="fw-light mt-2 pb-2" style="font-family: Cinzel, serif;font-size: 18px;"><br><strong>La Maison Ben Ammar Lac 2 : Un concept innovant qui permet à&nbsp;sa clientèle d’être mise en soin et beauté de la tête aux pieds .</strong><br><br></p>
        </div>
    </div>
</section>